# Supabase (publishable key — veilig om in frontend te gebruiken)
NEXT_PUBLIC_SUPABASE_URL=https://pxgvajdaklyhtqcdlxcf.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ylKHOhD54A1CJ5mOEcwiLQ_pF13-u1i

# FastAPI backend URL
NEXT_PUBLIC_API_URL=http://localhost:8000
